/* Main styles */

body {
    background-color: rgb(235, 235, 235);
}

#report-container {
    max-width: 1200px;
}

.report {
    background-color: white;
    max-height: 500px;
    margin-top: 35px;
    margin-bottom: 35px;
    overflow: auto;
    box-shadow: 5px 5px 8px #888888;
    position: relative;
}

.report-chart {
    background-color: white;
    margin-top: 35px;
    margin-bottom: 35px;
    min-height: 450px;
    box-shadow: 5px 5px 8px #888888;
    position: relative;
}

.report thead th {
    position: sticky;
    top: 0;
}

.album-link:hover {
    text-decoration: none;
}


/* Filter Nav bar */

.form-inline .form-control{
    width: 125px;
    margin-right: 25px;
 }

 #store-input, #vend-input {
    margin-right: 40px;
 }

 #dept-input, #date1-input {
     margin-right: 12px;
 }

select:required:invalid {
color: #6c757d;
}
option[value=""][disabled] {
display: none;
}
option {
color: rgb(34, 34, 34);
}

.filter-nav {
    background-color: #4f575f !important;
    display: flex;
    flex-direction: row;
    padding: 15px 4px 2px 4px;
}

.dd-label {
    color: rgb(226, 226, 226);
    padding: 0px 15px 0px 15px;
}

.date-input {
    width: 20%;
}


/* Drill down report */

.drill-container {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 35px;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 5px 5px 8px #888888;
}

.drill-body {
    background-color: white;
    max-height: 487px;
    display: flex;
    flex-direction: row;
}

.drill-header, .drill-footer {
    height: 35px;
    background-color: rgb(227, 233, 233);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.drill-logo, .drill-total {
    width: 25%;
    padding: 5px 5px 5px 20px;
}

.drill-info, .drill-options {
    width: 75%;
    padding: 5px 20px;
}

.drill-options button {
    font-size: 10pt;
    padding: 2px 5px 2px 5px;
    color: rgb(78, 82, 83);
    background-color: rgb(177, 191, 201);
    border: 1px solid rgb(166, 173, 180);
}

.drill-output {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
}

.drill-title {
    position: sticky;
    top: 0;
    background-color: #6e7780;
    padding: 5px 15px 5px 5px;
    height: 25px;
    padding-left: 15px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-top: 1px solid rgba(0,0,0,.125);
}

.section-title {
    position: absolute;
    top: 10%;
    color: rgb(238, 238, 238);
    font-size: smaller;
    font-weight: 400;
}

.drill-col {
    float: left;
}

.dates-sidebar {
    width: 25%;
    overflow: scroll;
}

.genre-col, .album-col {
    border-top-width: 0;
    overflow: scroll;
    /* border: 1px solid rgba(0,0,0,.125); */
}

.genre-col {
    height: 170px;
}

.album-col {
    height: 317px;
}

#tracks {
    cursor: row-resize;
}

#drill-tracks {
    font-size: smaller;
}

#drill-tracks a {
    text-decoration: none;
}

#modal-btn {
    margin-right: 6px;
}

/* list group colors */
    /* active: #e9ecef */
    /* hover/focus: #f8f9fa */