
body {
    background-color: rgb(235, 235, 235);
}

.report {
    background-color: white;
    max-height: 500px;
    margin-top: 35px;
    overflow: auto;
    box-shadow: 5px 5px 8px #888888;
    position: relative;
}

.report-chart {
    background-color: white;
    margin-top: 35px;
    min-height: 450px;
    box-shadow: 5px 5px 8px #888888;
    position: relative;
}

.report thead th {
    position: sticky;
    top: 0;
}

.album-link:hover {
    text-decoration: none;
}